/* custom-datepicker.css */
.react-datepicker {
    background-color: var(--bg-secondary);
    color: var(--bg-secondary);
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  }
  
  .react-datepicker__header {
    background-color: var(--bg-primary);
    color: var(--text-primary-content);
  }
  
  .react-datepicker__day {
    &:hover {
      background-color: var(--bg-primary);
      color: var(--text-primary-content);
    }
  }
  
  .react-datepicker__day--selected {
    background-color: var(--bg-primary);
    color: var(--text-primary-content);
  }
  
  .react-datepicker__day--today {
    border: 1px solid var(--border-primary);
  }